.main {
   grid-column: main-start / main-end;
   grid-row: rowOne-start / rowTwo-end;
   padding: 1.6rem;
   position: relative;
   color: $color-grey-dark-2;
   color: $color-primary-900;

   transition: width 0.3s ease;

   &.home {
      grid-column: 1/-1;
   }

   @media only screen and (max-width:$bp-big) {
      grid-column: 1/-1;
   }

   @media only screen and (max-width:$bp-small-extra) {
      flex-direction: column;
      align-items: start;
      gap: .5rem;
   }

   &-heading {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99999;
      position: relative;

      @media only screen and (max-width:$bp-small-extra) {

         align-items: end;

      }

      &_intro {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 1rem;
         margin-right: auto;

         @media only screen and (max-width:$bp-small) {
            gap: .5rem;
         }

         @media only screen and (max-width:$bp-smaller) {
            flex-direction: column;
            align-items: start;
            gap: .5rem;
         }

         .main-heading_logo {
            // width: max-content;
            width: 5.1rem;
            height: 6rem;
            margin-right: .1rem;
         }

         .main-welcome {
            font-size: 2rem;

            @media only screen and (max-width:$bp-big) {
               font-size: 1.8rem;
            }

            @media only screen and (max-width:$bp-big) {
               font-size: 1.8rem;
            }

            @media only screen and (max-width:$bp-small-extra) {
               font-size: 1.6rem;
            }
         }
      }

      &_left {
         display: flex;
         align-items: center;
         // gap: 1rem;

         @media only screen and (max-width:$bp-small-extra) {

            .hero-btn-dark {
               margin-right: .5rem;
               font-size: 1.16rem;
               // padding: 0.6rem;
            }
         }

         .logoutButton {
            margin-bottom: 0;
         }

         .notificatinoIconDiv,
         .cartIconDiv,
         .profileIconDiv {
            position: relative;
            display: flex;

            &:hover {
               cursor: pointer;
            }


            .main-heading-notification,
            .main-heading-cart,
            .main-heading-profile--image {
               font-size: 3rem;
               border-radius: 100px;
               // border: 0px solid $color-primary;

               &:hover {
                  transform: scale(1.03);
               }


            }

            .notification-counter,
            .cart-counter {
               position: absolute;
               top: -1.4rem;
               right: -1rem;
               font-size: 1.2rem;
               font-weight: 600;
               color: $color-secondary-dark;
               border-radius: 100px;
            }

            .notification-counter {
               top: -1rem;
               right: -0.5rem;

            }

         }

         .main-heading-profile--image {
            font-size: 4rem !important;
            border-radius: 100px;
            border: 3px solid $color-primary;

            @media only screen and (max-width:$bp-small) {
               border: 2px solid $color-primary;
            }
         }


      }
   }
}