.modal {
   padding: 3rem;
   opacity: 0;
   visibility: hidden;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 60%;
   max-width: 100rem;
   max-height: 85vh;
   height: auto;
   z-index: 999999999999;
   transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
   overflow-y: auto;

   .heading-subtext {
      color: $color-grey-dark-2;
   }

   @media only screen and (max-width:$bp-big) {
      padding: 1.7rem;
      width: 80%;
   }

   @media only screen and (max-width:$bp-medium) {
      width: 85%;
      padding: 2rem;
      transform: translate(-50%, -50%);
   }

   @media only screen and (max-width:$bp-small) {
      width: 90%;
      padding: 1.3rem;
   }

   &.active,
   &.openModal {
      opacity: 1;
      visibility: visible;
      transition: opacity .3s ease-in-out, visibility .2s;
   }

   .confirmation {

      &-text {
         margin-top: 3rem;
         color: $color-grey-dark-2;
      }

      &-btn_container {
         display: flex;
         gap: 1rem;
         align-items: center;
         justify-content: end;
         margin-top: 5rem;

         .hero-btn-dark {
            font-size: 1.2rem;
            // padding-left: 1rem;

            &.cancel-delete,
            &.adminCancel-close,
            &.cancel-close {
               color: inherit;
               background: linear-gradient(to bottom, $color-grey-light-1, $color-grey-light-2);
               margin-bottom: 0;
            }
         }
      }

   }

   .btn-container {
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-top: 2rem;
   }
}

.main.blur,
.sidebar.blur {
   backdrop-filter: blur(1px);
   filter: blur(1px);
}

.main.blur::before,
.sidebar.blur::before {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.46);
   z-index: 2222222;
}

.sidebar.blur {
   .sidebar-fixed {
      width: 100%;
   }

   @media only screen and (max-width:$bp-big) {
      backdrop-filter: blur(0px);
      filter: none;
   }

   &::before {

      @media only screen and (max-width:$bp-big) {
         background-color: none;
      }
   }
}

.notification-slider-overlay,
.cart-slider-overlay,
.profile-slider-overlay {
   // position: fixed;
   // top: 0;
   // left: 0;
   // width: 100%;
   // height: 100%;
   // background: rgba(0, 0, 0, 0.4);
   // z-index: 99999;
   // display: none;

   // &.visible {
   //    display: block;
   // }

   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.4);
   z-index: 99999;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.4s ease-in-out;

   &.visible {
      opacity: 1;
      pointer-events: all;
   }
}

.notification-slider-content,
.cart-slider-content,
.profile-slider-content {
   // display: none;

   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   max-width: 350px;
   height: 100vh;
   overflow: hidden;
   color: $color-secondary-dark;
   background-color: $color-primary-light-1;
   z-index: 9999991;
   box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
   transform: translateX(100%); // start off-screen
   opacity: 0;
   pointer-events: none;
   transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;

   &.open {
      transform: translateX(0);
      opacity: 1;
      pointer-events: all;
   }


   // opacity: 0;
   // position: fixed;
   // top: 0;
   // right: -100%;
   // width: 100%;
   // overflow: hidden;
   // max-width: 350px;
   // height: 100vh;
   // color: $color-secondary-dark;
   // background-color: $color-primary-light-1;
   // z-index: 99999;
   // box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
   // transition: right 0.3s ease-in-out;

   // &.open {
   //    display: block;
   //    right: 0;
   //    opacity: 1;
   // }
   .notificationSlider-wrapper,
   .slider-wrapper {
      display: flex;
      width: 700px;
      transition: transform 0.4s ease-in-out;

      .cart-view,
      .updatePassword-view,
      .notification-view,
      .profile-view,
      .checkout-view {
         width: 350px;
         padding: 2.5rem 1.5rem;
         box-sizing: border-box;

      }

      .cart-view {
         display: flex;
         flex-direction: column;
         height: 100vh; // Full height of the slider
         box-sizing: border-box;
         padding: 1.5rem;
      }

      .notification-view,
      .checkout-view,
      .updatePassword-view,
      .profile-view {
         display: flex;
         flex-direction: column;
         // height: 100vh; 
         max-height: 100dvh;
         overflow-y: auto;
         box-sizing: border-box;
         padding: 2.5rem 1.5rem;

         .hero-btn-dark {
            margin-top: 3rem;
         }
      }

      .checkout-view button#backToCart,
      .updatePassword-view button#backToProfile {
         background: none;
         border: none;
         font-size: 1.5rem;
         text-align: left;
         color: $color-secondary-dark;
         cursor: pointer;
         margin-bottom: 1rem;
      }
   }

   .notification-slider-header,
   .cart-slider-header,
   .profile-slider-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      .heading-text {
         margin: 0;
         color: inherit;
      }

      &.heading-minitext {

         color: $color-secondary-dark;
      }

      .close-notification-btn,
      .close-cart-btn,
      .close-profile-btn {
         position: relative;
      }
   }


   .profile-items-container,
   .cart-items-container {
      flex: 1;
      overflow-y: auto;
      margin-bottom: 1rem;
   }

   .cart-item,
   .profile-item {
      border-bottom: 1px solid $color-grey-dark-1;
      padding: 1rem;
      border-radius: 10px;
      margin-bottom: 0.5rem;
      transition: background-color 0.3s ease;

      .remove-item-btn,
      .unit-price {
         transition: color 0.3s ease;
      }

      .naira-input-container {
         width: min-content;

         .unit-price-input {
            width: 12rem;
         }
      }

      &:hover {
         background-color: $color-grey-dark-1;
         color: $color-grey-light-1;

         .remove-item-btn,
         .unit-price {
            color: $color-grey-light-1 !important;
         }
      }

      .item-header {
         display: flex;
         justify-content: space-between;
         align-items: center;

         .item-name {
            font-weight: bold;
         }

         .remove-item-btn {
            background: transparent;
            border: none;
            color: red;
            font-size: 2rem;
            padding: 1rem;
            cursor: pointer;
         }
      }

      .item-details {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-top: 0.3rem;

         .unit-price {
            font-size: 1.2rem;
            color: #666;
         }

         .quantity-control {
            display: flex;
            align-items: center;

            button {
               width: 17px;
               height: 17px;
               font-size: 1rem;
               background: #ddd;
               border: none;
               cursor: pointer;
            }

            span {
               padding: 0 10px;
               font-size: 1.2rem;
            }
         }
      }
   }

   .cart-footer,
   .profile-footer {
      // text-align: right;
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid #ddd;

      .cart-total {
         // font-size: 1.2rem;
         margin-bottom: 1rem;
      }
   }

   .center-text {
      text-align: center !important;
      color: $color-grey-dark-2;
   }
}

.hidden {
   display: none;
}