.main {

   .notice-section {

      .chats {
         height: calc(100vh - 212px);
         padding: 1rem;
         overflow-x: hidden;
         overflow-y: auto;
         // border-bottom: .3px solid rgba($color-grey-dark-1, .5);
         width: 100%;

         .no-messages {
            text-align: center;
            font-size: 1.8rem;
            margin-top: 3rem;
         }
      }
   }

}



// .sentMessages,
// .trashMessages,
// .spamMessages {
//    display: none;
// }

.message-card {
   border-bottom: 1px solid $color-grey-dark-1;
   border-right: 1px solid $color-grey-dark-1;
   border-bottom-right-radius: 2.5rem;
   padding: 1rem .5rem 2rem 1rem;
   width: 95%;
   margin-bottom: 2rem;
   box-shadow: rgba(0, 0, 0, 0.2) -2px 4px 11px;
   cursor: pointer;

   &:last-child {
      margin-bottom: 3rem;
   }

   &.unread {
      background-color: $color-primary-faint;
   }

   .user {

      &-inbox {
         align-items: center;
         position: relative;

         &_header {
            display: flex;
            align-items: center;
            gap: 2rem;
         }

         .user-image {
            margin-top: 1rem;
            width: 5rem;
            height: 5rem;
            border-radius: 100%;
            object-fit: cover;
         }

         &_tab {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: .3rem;

            &-name {
               // font-size: 1.3rem;
               // font-weight: 600;
               margin-top: 3rem;
            }

            &-subject {
               font-size: 1.3rem;
               font-weight: 400;
            }

            &-text {
               // font-size: 1.1rem;
               font-weight: 300;
            }
         }

         &_info {
            position: absolute;
            right: 1rem;
            top: -5px;
            width: max-content;
            text-align: right;
            font-size: 1rem;

            &-time,
            &-date {
               font-size: 1.3rem;
            }
         }

         &_actions {
            position: absolute;
            right: -5rem;
            top: 0rem;
            width: max-content;
            text-align: right;
            font-size: 2.5rem;
            color: $color-grey-dark-1;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .hero-btn-outline {
               font-size: 1.2rem;
               padding: 1rem;
            }
         }


         .inbox-actions.user {
            background-color: rgba($color-grey-dark-2, .8);
         }

         .inbox-actions {
            background-color: rgba($color-grey-dark-1, .8);
            padding: 2rem 0rem;
            color: #fff;
            width: 35%;
            margin-bottom: 1rem;
            position: absolute;
            top: -1.6rem;
            right: -0.6rem;
            backdrop-filter: blur(5px);
            box-shadow: rgba(0, 0, 0, 0.5) -2px 4px 11px;
            z-index: 100;
            text-align: center;
            display: none;

            &_btns {
               font-size: 1.2rem;
               font-weight: 500;
               border-bottom: 1px solid $color-grey-dark-1;
               padding: 1rem 0 1rem 0;

               &:not(:last-child) {}
            }
         }

         // &_actions:hover~.inbox-actions {
         //    display: block;
         // }

         // .inbox-actions:hover {
         //    display: block;
         // }
      }
   }

}

.open {

   &-inbox {
      align-items: center;
      position: relative;

      &_header {
         display: flex;
         align-items: center;
         gap: 2rem;
      }

      .user-image {
         margin-top: 1rem;
         width: 5rem;
         height: 5rem;
         border-radius: 100%;
         object-fit: cover;
      }

      &_tab {
         margin-top: 1rem;
         display: flex;
         flex-direction: column;
         gap: .3rem;

         &-name {
            // font-size: 1.3rem;
            // font-weight: 600;
            margin-top: 3rem;
         }

         &-subject {
            font-size: 1.3rem;
            font-weight: 400;
         }

         &-text {
            // font-size: 1.1rem;
            font-weight: 300;
         }
      }

      &_info {
         position: absolute;
         right: 1rem;
         top: -5px;
         width: max-content;
         text-align: right;
         font-size: 1rem;

         &-time,
         &-date {
            font-size: 1.3rem;
         }
      }

      &_actions {
         position: absolute;
         right: -5rem;
         top: 0rem;
         width: max-content;
         text-align: right;
         font-size: 2.5rem;
         color: $color-grey-dark-1;
         display: flex;
         flex-direction: column;
         gap: 1rem;

         .hero-btn-outline {
            font-size: 1.2rem;
            padding: 1rem;
         }
      }


      .inbox-actions.user {
         background-color: rgba($color-grey-dark-2, .8);
      }

      .inbox-actions {
         background-color: rgba($color-grey-dark-1, .8);
         padding: 2rem 0rem;
         color: #fff;
         width: 35%;
         margin-bottom: 1rem;
         position: absolute;
         top: -1.6rem;
         right: -0.6rem;
         backdrop-filter: blur(5px);
         box-shadow: rgba(0, 0, 0, 0.5) -2px 4px 11px;
         z-index: 100;
         text-align: center;
         display: none;

         &_btns {
            font-size: 1.2rem;
            font-weight: 500;
            border-bottom: 1px solid $color-grey-dark-1;
            padding: 1rem 0 1rem 0;

            &:not(:last-child) {}
         }
      }

      // &_actions:hover~.inbox-actions {
      //    display: block;
      // }

      // .inbox-actions:hover {
      //    display: block;
      // }
   }
}

.compose {
   // padding: 2rem;
   width: 100%;
   margin-bottom: 5rem;
   display: flex;
   justify-content: center;
   // height: 50%;

   &-header {
      display: flex;
      gap: 2rem;

      .user-image {
         width: 8rem;
         height: 8rem;
         border-radius: 100%;
         object-fit: cover;
      }

      &_info {
         width: 100%;
         color: $color-primary;

         &-name {
            // font-size: 1.8rem;
            // font-weight: 600;
            margin-bottom: 1rem;
         }

         &-input {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            position: relative;
         }

         label {
            width: 9%;
            font-size: 1.5rem;
            font-weight: 500;
         }
      }
   }

   input,
   textarea {
      // height: 100%;
      width: 100%;
      outline: none;
      padding: .5rem;
      padding-left: 2rem;
      padding-right: 3rem;
      font-size: 1.5rem;
      font-family: inherit;
      font-weight: 600;
      color: $color-primary;
      border: none;
      background-color: #e9eff6;
      border-radius: 9px;
      box-shadow: 0 0 0 0.1rem rgba($color-grey-dark-1, .36);
      resize: none;
   }

   textarea {
      margin-top: 2rem;
      padding: 2rem;
   }

   input:focus,
   textarea:focus {
      box-shadow: 0 0 0 0.2rem rgba($color-grey-dark-3, .5);
   }

   textarea::placeholder {
      font-style: italic;
      color: rgba($color-primary-light, .75);
   }

   &-sendBtn {
      margin-top: 2rem;
      margin-bottom: 1rem;
      text-align: center;

      button {
         font-size: 1.5rem;
         padding: 1rem 2rem;
      }
   }

   .carbonCopyToggleIcon {
      font-size: 1.4rem;
      font-weight: 600;
      margin-right: 1rem;
      position: absolute;
      padding: .3rem;
      right: 2px;
      cursor: pointer;
   }

   .carbonCopy {
      display: none;
   }
}

.files,
.filesDisplay {
   display: none;
   width: 100%;
   flex-wrap: wrap;
   justify-content: flex-start;

   .file-card,
   .file-card_display {
      width: 6rem;
      height: 6rem;
      margin: 5px;
      border: .1px solid $color-primary;
      border-radius: 10px;
      object-fit: cover;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      background: linear-gradient(111.4deg, rgba($color-primary-light, .75) 1%, rgba($color-grey-dark-1, .75) 58%);
      backdrop-filter: blur(5px);

   }
}

.attachmentFile {
   max-width: 100%;
   max-height: 100%;
}

.file-container {
   margin-top: 2rem;

   #file-input {
      display: none;
   }
}

.doc-icon {
   color: $color-grey-light-2 ;
   font-size: 5rem;
}

.delete-button {
   position: absolute;
   top: 0rem;
   right: 0.5rem;
   background: none;
   border: none;
   color: $color-grey-light-1;
   cursor: pointer;

}

.modal-image {
   height: 60vh;
   width: 60vh;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px;
}