.reports,
.goods,
.superAdmin,
.shops,
.staff,
.posCharge,
.machineFee,
.inventory {
   height: min-content;
   color: $color-grey-dark-2;

   &-method {
      margin: 0 auto;
      overflow: hidden;

      .table-header {
         margin-bottom: 2rem;
      }

      .reports-table-container,
      .product-table-container,
      .shops-table-container,
      .staff-table-container,
      .posCharge-table-container,
      .machineFee-table-container,
      .stock-table-container,
      .superAdmin-table-container,
      .category-table-container,
      .inventory-table-container {
         overflow-x: auto;
         max-height: 60rem;
         height: 100%;
         padding-bottom: 2rem;
         padding-right: 1rem;
         box-shadow: 0px 1px 5px rgba($color-grey-dark-1, 0.3);

         &::-webkit-scrollbar {
            width: .5rem;
            height: rem;
         }

         &::-webkit-scrollbar-thumb {
            background-color: $color-primary;
            border-radius: 10px;

            &:active {
               background-color: $color-primary-light;
            }
         }

         &::-webkit-scrollbar-track {
            background-color: $color-grey-light-2;
         }

         .product-table,
         .reports-table {
            margin: 0 auto;
            width: 100%;
            border-collapse: collapse;

            & thead {
               position: sticky;
               top: 0;
               background-color: $color-primary-light-1;
               z-index: 1;
            }
         }

         .table-header-row {
            color: $color-grey-dark-2 ;
            font-size: 1.6rem;
            text-align: left;
            border-bottom: 1px solid $color-grey-dark-3;
            box-sizing: content-box;
         }

         .table-body-row,
         .table-foot-row {
            color: $color-grey-dark-2 ;
            font-weight: 500;
            font-size: 1.5rem;
            cursor: pointer;
            border-bottom: 1px solid $color-grey-dark-3;

            .hero-btn-light {
               margin: 0;
            }

            strong {
               font-size: 1.6rem;
            }
         }

         .table-body-row:hover {
            background-color: $color-grey-dark-1;
            color: $color-primary-light-1;

            & .hero-btn-light {
               background-color: $color-primary-light-1;
               color: $color-grey-dark-1;
            }

            & .hero-btn-outline {
               background-color: $color-primary-light-1;
               color: $color-grey-dark-1;



               &:active {
                  background-color: $color-grey-light-2;

               }
            }
         }


         .action-buttons {
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
         }

         // .pagination-container {
         //    display: flex;
         //    justify-content: space-between;
         //    align-items: center;
         //    margin-top: 0.5rem;
         // }

         // .pagination-button {
         //    font-size: 0.75rem;
         //    color: #000;
         // }

         // .pagination-button:disabled {
         //    opacity: 0.5;
         //    cursor: not-allowed;
         // }
      }
   }

   .deletedTransationRow {
      background-color: #f8d7da; // light red (Bootstrap danger-light)
      color: #842029 !important; // darker text for contrast

      &:hover {
         background-color: #f1aeb5 !important; // slightly deeper red
      }
   }

   .finishedStockRow {
      background-color: #f8d7da; // light red (Bootstrap danger-light)
      color: #842029 !important; // darker text for contrast

      &:hover {
         background-color: #f1aeb5 !important; // slightly deeper red
      }
   }

   .nearFinishedStockRow {
      background-color: #fff3cd; // light yellow (Bootstrap warning-light)
      color: #856404 !important; // darker amber text for readability

      &:hover {
         background-color: #ffe69c !important; // slightly deeper yellow
      }
   }
}

.reports-table-container {
   overflow-x: auto;
   max-height: 40rem;
   height: 100%;
   padding-bottom: 2rem;
   padding-right: 1rem;
   box-shadow: 0px 1px 5px rgba($color-grey-dark-1, 0.3);

   &::-webkit-scrollbar {
      width: .5rem;
      height: rem;
   }

   &::-webkit-scrollbar-thumb {
      background-color: $color-primary;
      border-radius: 10px;

      &:active {
         background-color: $color-primary-light;
      }
   }

   &::-webkit-scrollbar-track {
      background-color: $color-grey-light-2;
   }

   .product-table,
   .reports-table {
      margin: 0 auto;
      width: 100%;
      border-collapse: collapse;

      & thead {
         position: sticky;
         top: 0;
         background-color: $color-primary-light-1;
         z-index: 1;
      }
   }

   .table-header-row {
      color: $color-grey-dark-2 ;
      font-size: 1.6rem;
      text-align: left;
      border-bottom: 1px solid $color-grey-dark-3;
      box-sizing: content-box;
   }

   .table-body-row,
   .table-foot-row {
      color: $color-grey-dark-2 ;
      font-weight: 500;
      font-size: 1.5rem;
      cursor: pointer;
      border-bottom: 1px solid $color-grey-dark-3;

      .hero-btn-light {
         margin: 0;
      }

      strong {
         font-size: 1.6rem;
      }
   }

   .table-body-row:hover {
      background-color: $color-grey-dark-1;
      color: $color-primary-light-1;

      & .hero-btn-light {
         background-color: $color-primary-light-1;
         color: $color-grey-dark-1;
      }

      & .hero-btn-outline {
         background-color: $color-primary-light-1;
         color: $color-grey-dark-1;



         &:active {
            background-color: $color-grey-light-2;

         }
      }
   }


   .action-buttons {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
   }

   // .pagination-container {
   //    display: flex;
   //    justify-content: space-between;
   //    align-items: center;
   //    margin-top: 0.5rem;
   // }

   // .pagination-button {
   //    font-size: 0.75rem;
   //    color: #000;
   // }

   // .pagination-button:disabled {
   //    opacity: 0.5;
   //    cursor: not-allowed;
   // }

}

// reports.html table/accodium

.accordion-container {
   width: 100%;

   .accordion-toggle {
      width: 100%;
      text-align: left;
      background-color: $color-primary-light-1;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-bottom: 0.3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .heading-subtext {
         text-align: left;
         color: $color-grey-dark-2;
         font-size: 1.5rem;
         text-transform: initial;
      }

      .icon {
         font-size: 1.5rem;
         color: $color-grey-dark-2;
         transform: rotate(360deg);
         transition: transform 0.3s ease;
      }

      &:hover,
      &:active {
         background-color: $color-primary-light;
         color: $color-primary-light-1;

         .heading-subtext {
            color: inherit;
         }

         .icon {
            color: inherit;
         }
      }
   }

   .accordion-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease;
   }

   .accordion-section {
      &:last-child {
         margin-bottom: 3rem;
      }
   }

   .accordion-section.active {
      display: block;

      .accordion-toggle {
         background-color: $color-primary-light;

         .heading-subtext {
            color: $color-primary-light-1
         }

         .icon {
            transform: rotate(180deg);
            transition: transform 0.3s ease;
            color: $color-primary-light-1
         }
      }

      .accordion-content {
         // max-height: 10000px;
         // max-height: 100rem;
         max-height: max-content;
         // transition: max-height 0.4s ease;
         /* enough to show full content */
      }
   }


   .action-buttons {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
   }
}

.admin-view,
.staff-view {
   display: none;
}

.staffPosReportDiv,
.staffSalesReportDiv {
   display: none;
}

.loading-row td {
   padding: 1.5rem 1rem;
   text-align: center;
   font-size: 1.6rem;
   font-weight: 500;
}

.table-loading-text,
.table-error-text {
   font-size: 1.6rem;
   font-weight: 600;
   text-align: center;
   color: $color-grey-dark-1;
   padding: 1rem 0 1rem 0;
}


.date-group-row {
   background-color: #f5f5f5;
   font-weight: bold;
   padding: 10px;
   // color: #333;       
   color: $color-grey-dark-1 ;
}

.total-row,
.totalSales-row {
   background-color: $color-grey-dark-2;
   font-weight: bold;
   padding: 10px;
   // color: #333;       
   color: $color-grey-light-2 !important;

   &:hover {
      background-color: $color-grey-dark-2 !important;
      color: $color-grey-light-1 !important;
   }

   // background-color: #f5f5f5;
   // font-weight: bold;
   // padding: 10px;
   // // color: #333;       
   // color: $color-grey-dark-1 ;
}



.transaction-list {
   margin-top: 1rem;
}

.day-header {
   margin-top: 1rem;
   background: #f5f5f5;
   padding: 10px;
   border-radius: 4px;
   font-weight: bold;
}

.filter-section {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   align-items: flex-end;
   background-color: #f9f9f9;
   padding: 1rem;
   border-radius: 0.5rem;
   border: 1px solid #ddd;

   input {
      box-shadow: none;
   }

   .filter-buttons {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .hero-btn-dark {
         margin-bottom: 0;
      }
   }
}

.filter-section label {
   display: flex;
   flex-direction: column;
   font-size: 1.5rem;
}

.productSales-summary,
.sales-summary,
.warehouse-summary,
.financial-summary,
.platform-summary,
.performance-highlights,
.summary-grid,
.posTransactions-summary {
   display: flex;
   gap: 1rem;
   margin: 1rem 0;
   flex-wrap: wrap;

   .summary-card {
      flex: 1 1 200px;
      background: #f8f9fa;
      border: 1px solid #e0e0e0;
      border-radius: 12px;
      padding: 1rem 1.5rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
      text-align: center;

      .icon {
         font-size: 2rem;
      }

      h4 {
         margin: 0 0 0.5rem;
         font-size: 1rem;
         // color: #555;
      }

      .amount,
      .value {
         font-size: 1.4rem;
         font-weight: 600;
         color: #1b5e20;
      }
   }
}

.report-tabs {
   margin-top: 30px;
   font-family: inherit;

   .tab-buttons {
      display: flex;
      gap: 1.2rem;
      margin-bottom: 2rem;
      justify-content: center;

      .tab-btn {
         padding: 1rem 2rem;
         background: $color-grey-light-2;
         color: $color-grey-dark-2;
         border: none;
         cursor: pointer;
         font-weight: 600;

         &.active {
            background: $color-grey-dark-2;
            color: $color-grey-light-1;
         }

         &:hover {
            transform: scale(1.1);
            background: $color-grey-dark-2;
            color: $color-grey-light-1;
         }
      }
   }

   .tab-content {
      display: none;

      &.active {
         display: block;
      }

      &.summary {
         margin: 15px 0;
         // font-size: 14px;
      }
   }
}

.chart-center {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 300px;

}

#businessTypeChart,
#monthlySignupsChart {
   height: 40rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.reports-section {

   .transaction-breakdown {
      margin-top: 1rem;

      .chart {
         height: 260px;
         margin-bottom: 1rem;
      }
   }
}


// .filter-section input[type="date"],
// .filter-section select {
//    padding: 0.4rem;
//    border: 1px solid #ccc;
//    border-radius: 0.3rem;
//    font-size: 0.9rem;
//    width: 160px;
// }

// #applyFiltersBtn {
//    padding: 0.5rem 1rem;
//    font-size: 0.9rem;
//    cursor: pointer;
//    border-radius: 0.4rem;
// }



// .transaction-card {
//    background: #fff;
//    margin: 5px 0;
//    padding: 10px;
//    border-left: 5px solid #333;
//    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
// }

// .transaction-card.deposit {
//    border-color: green;
// }

// .transaction-card.withdrawal {
//    border-color: red;
// }

// .transaction-card.transfer {
//    border-color: orange;
// }

// .transaction-card.bill {
//    border-color: purple;
// }